In [7]:
import dataPreperation as dp
import pandas as pd

df2 = dp.df2
features = dp.features
features.head()

,between 0 and 1,between 1 and 2,between 2 and 3,between 3 and 4,between 4 and 5,ale,ara,en-CA,en-GB,en-US,...,por,rus,spa,srp,swe,tur,wel,zho,average_rating,ratings_count
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4.57,2095690
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4.49,2153167
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4.42,6333
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4.56,2339585
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4.78,41428

In [8]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
features = min_max_scaler.fit_transform(features)

In [9]:
features

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 9.14000000e-01, 4.55816060e-01],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 8.98000000e-01, 4.68317403e-01],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 8.84000000e-01, 1.37743803e-03],
       ...,
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 7.92000000e-01, 1.78351363e-04],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 7.44000000e-01, 1.67258779e-04],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 7.82000000e-01, 2.45776879e-05]])

In [10]:
from sklearn import neighbors

model = neighbors.NearestNeighbors(n_neighbors=6, algorithm='ball_tree')
model.fit(features)
dist, idlist = model.kneighbors(features)

In [26]:
print(idlist)
# id of itself and it's 5 Nearest Neighbours #

[[    0     1    23  4415     3  7309]
 [    1     0    23  4415     3  1697]
 [    2  2562  3101  3659  5486 10838]
 ...
 [11120  5459  8599  4325  5265  3664]
 [11121  1463  8854  7565  7079  5740]
 [11122  6343 10297  2646 11031  8250]]

In [21]:
def BookRecommender(book_name):
    book_list_name = []
    book_id = df2[df2['title'] == book_name].index
    if book_id.size == 0 :
        return "Books not found in Database ! please try again with detailed name in format \"Harry Potter and the Half-Blood Prince (Harry Potter  #6)\"  !"
    book_id = book_id[0]
    for newid in idlist[book_id]:
        book_list_name.append(df2.loc[newid].title)
    return book_list_name
    
BookNames = BookRecommender('The Lightning Thief (Percy Jackson and the Olympians  #1)')
BookNames

['The Lightning Thief (Percy Jackson and the Olympians  #1)',
 'The Giver (The Giver  #1)',
 'The Book Thief',
 'Little Women',
 'The Fellowship of the Ring (The Lord of the Rings  #1)',
 'Jane Eyre']

In [24]:
book_name = input("Name of Book you liked and want similar recommendation of  \nName should in format : \"The Fellowship of the Ring (The Lord of the Rings  #1)\" ")

BookNames = BookRecommender(book_name)
BookNames

['Little Women',
 'Jane Eyre',
 'The Giver (The Giver  #1)',
 'Memoirs of a Geisha',
 "Charlotte's Web",
 'Water for Elephants']